<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Planner - Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
	<div class="p-2">
		<h1 class="d-inline">Ogle Event</h1>
		<div class="d-inline" sec:authorize="isAuthenticated()" th:object=${event}>
			<form th:action="*{'/event/' + get().id + '/edit'}"  sec:authorize="isAuthenticated()" style="display: inline-block;">
				<input type="submit" class="btn btn-sm btn-info" value="edit" ></input>
			</form>
		</div>
	</div>
	<div th:object="${event}" >
		<table class="table">
			<tbody>
				<tr>
					<th scope="col">title</th>
					<td th:text="*{get().title}"></td>
				</tr>
				<tr>
					<th scope="col">description</th>
					<td th:text="*{get().description}"></td>
				</tr>
				<tr>
					<th scope="col">date</th>
					<td th:text=*{#strings.substringBefore(get().datetime,"T")}></td>
				</tr>
					<th scope="col">time</th>
					<td th:text=*{#strings.substringAfter(get().datetime,"T")}></td>
				<tr>
					<th scope="col">owner</th>
					<td th:text="*{get().owner.username}"></td>
				</tr>
				<tr>
					<th scope="col">members</th>
					<td th:text="*{#lists.size(get().members)}"></td>
				</tr>
			</tbody>
		</table>
		<div >
			<div class="row">
				<div class="col-lg-5 col-sm-12 col-md-12 col-12 pb-4">
					<div th:object="${member}">
						<h3 style="display: inline-block;">Members</h3>
						<form th:action="${'/event/' + event.get().id + '/addmember'}" action="#" method="post" sec:authorize="isAuthenticated()" style="display: inline-block;">
							<input type="submit" class="btn btn-sm btn-info" value="add member" ></input>
							<input type="text" th:field="*{addmember}" required />
						</form>
					</div>
					<table class="table">
						<tbody>
							<tr th:each="member : *{#lists.toList(get().members)}">
								<td th:text="${member.username}"></td>
								<td class="text-right" sec:authorize="isAuthenticated()" >
									<form th:action="@{/event/__${event.get().id}__/removemember/__${member.id}__}">
										<input type="submit" class="btn btn-sm btn-danger" value="Delete"></input>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-lg-7 col-sm-12 col-md-12 col-12 pb-4">
	                <h2>Comments</h2>
	                <div th:object="${comment}">
						<form th:action="${'/event/' + event.get().id + '/addcomment'}" action="#" method="post" sec:authorize="isAuthenticated()" >
							<div class="form-group d-inline col">
								<textarea class="form-control" th:field="*{content}" required />
							</div>
							<input type="submit" class="btn btn-sm btn-info d-inline" value="comment" ></input>
						</form>
					 </div>
	                <div th:each="comment : ${comments}">
		                <div class="comment mt-4 text-justify border-bottom">
		                    <h4 class="d-inline" th:inline="text">[[${comment.owner.username}]]</h4> <span th:inline="text">- [[${#strings.substringBefore(comment.datetime,"T")}]] [[${#strings.substringAfter(comment.datetime,"T")}]]</span> 
		                    <p th:text="${comment.content}"></p>
		                </div>
					</div>
	            </div>
			</div>
		 </div>
	</div>
	
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>
