<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Planner - Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
	<div th:object=${event}>
		<h1 style="display: inline-block;">Ogle Event</h1>
		<form th:action="*{'/event/' + get().id + '/edit'}"  sec:authorize="isAuthenticated()" style="display: inline-block;">
			<input type="submit" class="btn btn-sm btn-info" value="edit" ></input>
		</form>
	</div>
	<div th:object="${event}" >
		<table class="table">
			<tbody>
				<tr>
					<th scope="col">title</th>
					<td th:text="*{get().title}"></td>
				</tr>
				<tr>
					<th scope="col">description</th>
					<td th:text="*{get().description}"></td>
				</tr>
				<tr>
					<th scope="col">date</th>
					<td th:text="*{get().datetime}"></td>
				</tr>
				<tr>
					<th scope="col">owner</th>
					<td th:text="*{get().owner.username}"></td>
				</tr>
				<tr>
					<th scope="col">members</th>
					<td th:text="*{#lists.size(get().members)}"></td>
				</tr>
			</tbody>
		</table>
		
		<div>
			<h3 style="display: inline-block;">Members</h3>
			<form th:action="*{'/event/' + get().id + '/addmember'}" action="#" method="post" sec:authorize="isAuthenticated()" style="display: inline-block;">
				<input type="submit" class="btn btn-sm btn-info" value="add member" ></input>
				<input type="text" name="addmember" id="addmember" required />
			</form>
		</div>
		<table class="table">
			<tbody>
				<tr th:each="member : *{#lists.toList(get().members)}">
					<td th:text="${member.username}"></td>
				</tr>
			</tbody>
		</table>
		 
	</div>

						
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>
