<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  
<head>
<title>The Event planner</title>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	
	<div class="container">
	

	
		<h1 th:text="'Event planner'">Hello</h1>
		
			<div >
				<table class="table">
						<tr>
							<th scope="col">title</th>
							<th scope="col">description</th>
							<th scope="col">date</th>
							<th scope="col">owner</th>
						</tr>
						<tr th:each="event : ${events}">
							<td> <a th:href="${'/event/' + event.id}" th:text="${event.title}"/> 
							</td>
							<td th:text=${event.description}>
							</td>
							<td th:text=${event.datetime}>
							</td>
							<td th:text=${event.user.username}>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
	
	</div>
</body>
</html>