<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Book list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
	<h1>Event Planner sign in</h1>
  	<div class="col-md">
		<h3 th:inline="text">Sign up for Event Planner</h3>
	</div>
	
	<div class="col-md-4" style="padding:20px 0">
		<form th:object="${user}" th:action="@{/save/user}" method="post">
			<div class="form-group">
				<label for="username">username</label>
				<input type="text" th:field="*{username}" />
			</div>
			<div class="form-group">
			  	<label for="password">password</label>
				<input type="password" th:field="*{passwordHash}" />
			</div>
			<!-- 
			<div>
			  	<label for="role"></label>
				<input type="hidden" value="USER" th:field="*{role}" />
			</div>
			 -->
			<div class="form-group">
				<input type="submit" value="Create user" class="btn btn-sm btn-primary"/>
			</div>
		</form>
	
	 
    	<form action="/">
			<button class="btn btn-sm btn-warning" >cancel</button>
		</form>
	</div>
</div>
</body>
</html>